*, *::after, *::before {
box-sizing: border-box;
} 
*:focus:not(:focus-visible) {
    outline: none;
}
html, 
body {
    font-size: 62.5%;
}
.container {
    width: 1135px;
    margin: 0 auto;
    /* display: flex; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
padding-top: 6.4rem;
padding-bottom: 6.4rem;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__logo {
    width: 7.9rem;
    height: 2.9rem;
    margin-right: 3.9rem;
}
.header__nav a:not(:last-child){ /* всем кроме последнего элемента */
margin-right: 2.4rem;

}
.header__nav a {
    color: white;
    text-decoration: none;

}
.header__social-icon {
    width: 1.7rem;
    height: 1.6rem;
}
.header__social-icon:not(:last-child) {
    margin-right: 2rem;
}
body {
    background: url('../img/background.png');
}
.footer {
    background: black;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu {
    display: flex;
    padding-left: 0;
    color: #fff;
}
.footer__menu li{
    list-style: none;
}
.footer__menu li a{
color: #fff;
text-decoration: none;
}
.footer__menu li:not(:last-child) {
    margin-right: 2.5rem;
}